body {
	margin:0px;
	padding:0px;
	background-color: #eeeeee;
}

.pagecontainer {
 	width:60%;
 	background:white;
 	padding:0px auto;
 	margin:25px auto 25px auto;
 	height:800px;
}

header {
	/*position: relative;*/
	width: 100%;
	height: 100px;
	background-color: #2392a3;
	color: white;
	margin: auto auto;
	padding: 5px 5px;
	display: inline-block;
}

header a {
	float: right;
}

.h1 {
	font-family: sans-serif;
	/*font-size: 20px;*/
	margin:10px auto;
	padding: 10px 10px;
}

.h2 {
	font-family: sans-serif;
	font-size: 26px;
}

.h3 {
	font-family: sans-serif;
	font-size: 22px;
}

.gallery-nav {
	min-width: 125px;
	float:left;
	/*background-color: tomato;*/
	display: inline-block;
	height:700px;
	padding: 10px auto;
}

.gallery-nav li {
	list-style-type: none;
}

.gallery-closer {
	width: 65%;
	float:right;
	/*background-color: purple;*/
	display: inline-block;
	height:700px;
}

.thumb-img {
width: 150px;
}

.gallery-img {
	/*width: 400px;*/
	display: inline-block;
}

ul > li > img {
	list-style-type: none;
	width:250px;
}

/*for jquery*/

.gallery1, .gallery2, .gallery3 {
	display: none;
}

.magnify{
	width: 400px;
	height:400px;
	/*-webkit-box-shadow: 2px 2px 6px 2px #595959;*/
	/*box-shadow: 2px 2px 6px 2px #595959;	*/
}

.show{
	display: block;
}

.hide{
	display: none;
}











